@import 'set'

.for-m
    display: none !important
    
[data-scroll-show]
    transform: translateY(3rem)
    opacity: 0
    transition: opacity 1s, transform 1s
    &.scrollShowActive
        opacity: 1
        transform: translateY(0)

body
    position: relative
    color: $white
    &::before
        position: fixed
        display: block
        content: ''
        width: 100%
        height: 100%
        top: 0
        left: 0
        right: 0
        margin: auto
        width: 600px
        background: url('../img/bg-m.jpg') repeat-y top center
        background-size: 100% auto

section
    color: $white
    line-height: normal
    font-family: 'Noto Serif TC', serif
    h1, h2, h3, h4, h5, h6
        font-weight: bold
    div, span, h1, h2, h3, h4, h5, h6, p
        font-family: 'Noto Serif TC', serif
        line-height: normal

.fake_menu
    z-index: 1
    position: fixed
    max-width: 600px
    margin: auto
    top: 0
    left: 0
    right: 0
    margin: auto
    background: #EEE
    p
        +centerAb
        color: #000

.kv-first,
.kv,
.intro,
.design,
.box,
.product
    width: 100%
    max-width: 600px
    margin: auto

.kv-first
    position: relative
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    // min-height: 80vh
    padding-bottom: 10%
    .deco
        display: block
        width: 8%
        margin: 0 auto
        transform: rotate(90deg)
    .kv-first-title
        display: block
        width: 90%
        margin: 0 auto
        margin-bottom: 8%
    .hr
        display: block
        width: 80%
        margin: 0 auto
        margin-top: 12%

.kv
    position: relative
    width: 100%
    height: 200vh
    .kv-wrap
        position: sticky
        // top: 0
        left: 0
        width: 100%
        // height: 50%
        .kv-scale
            position: relative
            width: 100%
            overflow: hidden
            > img
                position: absolute
            .kv-frame
                top: 0
                left: 0
            .kv-table
                width: 70%
                margin: auto
                left: 0
                right: 0
                bottom: 4%
                transition: opacity 1s
            .kv-tea-left
                width: 10%
                bottom: 12.5%
                left: 32%
                transition: opacity 1s
            .kv-tea-right
                width: 10%
                bottom: 12.5%
                right: 32%
                transition: opacity 1s
            .kv-teapot-left
                width: 15%
                bottom: 14.5%
                left: 18%
                transition: opacity 1s
            .kv-teapot-right
                width: 15%
                bottom: 14.5%
                right: 18%
                transition: opacity 1s
            .kv-peacock-left-fade
                width: 110%
                bottom: 0
                left: -16%
            .kv-peacock-right-fade
                width: 110%
                bottom: 0
                right: -16%

            .article-1,
            .article-2
                position: absolute
                margin: auto
                left: 0
                right: 0
                width: 65%
                top: 45%
                text-align: center
                line-height: 175%
                opacity: 0
                transform: translateY(-50%)
                transition: opacity 1s, transform 1s
                h3
                    +font-large
                .article-title
                    display: block
                    width: 100%
                    margin: auto
                    filter: drop-shadow(0 0 0.25em #000)
                .word-flex
                    display: flex
                    justify-content: center
                    align-items: center
                    gap: 1rem
                    margin-top: 1rem
                    +font-small
                    p
                        img
                            display: inline-block
                            vertical-align: middle
                            width: 1.25em
                            margin: 0 0.25em
                            margin-top: -0.15em
            .article-1
                opacity: 1
                .article-title
                    filter: drop-shadow(0 0.25rem 0.5em rgba(#000, 0.5))
            .article-2
                transform: translateY( calc( -50% + 5rem ))
            &.step-1
                .kv-table,
                .kv-tea-left,
                .kv-tea-right,
                .kv-teapot-left,
                .kv-teapot-right
                    opacity: 0
                .article-1
                    opacity: 0
                    transform: translateY( calc( -50% - 5rem ))
                .article-2
                    opacity: 1
                    transform: translateY(-50%)

.intro
    position: relative
    width: 100%
    height: 150vh
    min-height: 100vh
    .intro-sticky
        position: sticky
        top: 0
        left: 0
        width: 100%
        height: 100vh
        overflow: hidden
        min-height: 100vh
        .intro-bg
            pointer-events: none
            position: absolute
            width: 100%
            height: 100%
            top: 0
            left: 0
            mask-image: url('../img/intro-mask.svg')
            mask-repeat: no-repeat
            mask-position: center center
            mask-size: 65%
            transition: mask-size 1s
            img
                position: absolute
                top: 50%
                left: 50%
                transform-origin: left top
                transform: scale(0.85) translate(-50%, -50%)
                transition: top 0.25s, transform 0.25s
        .intro-frame
            pointer-events: none
            +centerAb
            width: 90%
            transform-origin: top left
            transform: scale(0.7) translate(-50%, -50%)
            transition: transform 1s, opacity 1s
        .img-flower
            pointer-events: none
            +centerAb
            width: 22%
            transition: opacity 1s
        &.step-1
            .intro-bg
                mask-size: 300%
                img
                    top: 0
                    transform: scale(3) translate(-50%, 0%)
            .intro-frame
                opacity: 0
                transform: scale(2.75) translate(-50%, -50%)
            .img-flower
                opacity: 0
            .intro-content
                pointer-events: all
                opacity: 1
                transition: opacity 1s 1s
        .intro-content
            width: 100%
            padding: 10% 7%
            pointer-events: none
            opacity: 0
            text-align: center
            transition: opacity 0.5s 0s
            .intro-flex
                .intro-title
                    position: relative
                    padding: 1rem 0
                    &::before
                        position: absolute
                        display: block
                        content: ''
                        width: 90%
                        height: 2px
                        bottom: 0
                        left: 5%
                        background: linear-gradient(to bottom, #d0b962, #FFF, #d0b962)
                    h2
                        +font-huge
                        text-shadow: 0 0 0.5em rgba(#000, 0.5)
                        img
                            display: inline-block
                            vertical-align: middle
                            width: 1em
                            margin: 0 0.25em
                            margin-top: -0.15em
                        .img-and
                            display: inline-block
                            width: 1em
                            filter: drop-shadow(0 0 0.5em rgba(#000, 0.5))
                .intro-info
                    position: relative
                    .intro-tab
                        display: flex
                        justify-content: center
                        align-items: center
                        gap: 0.5rem
                        a
                            position: relative
                            width: 11em
                            padding: 0.5em 0
                            text-align: center
                            &.active
                                &::before
                                    opacity: 1
                            &::before
                                position: absolute
                                display: block
                                content: ''
                                top: 0
                                left: 0
                                width: 100%
                                height: 100%
                                background: url('../img/tab-border.svg') no-repeat center center
                                background-size: contain
                                opacity: 0.35
                                transition: opacity 0.5s
                    .intro-info-wrap
                        .intro-info-block
                            > p
                                line-height: 175%
                                text-shadow: 0 0 0.5em rgba(#000, 0.5)
                            .info-flex
                                display: flex
                                justify-content: flex-start
                                align-items: flex-start
                                gap: 1rem
                                text-align: left
                                img
                                    display: block
                                    width: 25%
                                    margin-top: 0.25rem
                                article
                                    flex: 1 0 0
                                    h4
                                        +font-large
                                        margin-bottom: 0.5rem
                            

.design
    position: relative
    padding: 2.5rem 0
    .design-deco-left-top,
    .design-deco-right-top
        position: absolute
        top: 3.5rem
        width: 30%
    .design-deco-left-bottom,
    .design-deco-right-bottom
        position: absolute
        bottom: 0
        width: 30%
    .design-deco-left-top,
    .design-deco-left-bottom
        left: 0
    .design-deco-right-top,
    .design-deco-right-bottom
        right: 0
    .design-block
        position: relative
        width: 95%
        margin: auto
        .butterfly-left,
        .butterfly-right
            position: absolute
            width: 5%
        .butterfly-left
            top: 59%
            left: 5%
        .butterfly-right
            top: 20%
            right: 5%
        h2
            +font-huge
            font-weight: normal
            text-align: center
            line-height: 135%
        p
            margin-top: 0.5rem
            text-align: center
            line-height: 175%
        .design-flex
            width: 82%
            margin: 3rem auto
            gap: 2rem
            text-align: center
            div
                flex: 1 0 0
                img
                    display: block
                    width: 70%
                    margin: auto
                h3
                    +font-large
                article
                    padding: 0.5rem 0
            .img-and
                display: block
                width: 2.5rem
                margin: 3rem auto
                filter: drop-shadow(0 0 0.5em rgba(#000, 0.5))
        .yt-wrap
            position: relative
            width: 100%
            padding-top: 56.25%
            overflow: hidden
            iframe
                +centerAb
                width: 100%
                height: 100%
        .design-line
            display: block
            width: 100%
            transform: scale(1, -1)

.box
    position: relative
    .box-wrap
        width: 95%
        margin: auto
        padding: 1.5rem 0
        text-align: center
        .box-title
            width: 90%
            margin: auto
            text-align: center
            p
                padding: 1rem 0
        article
            h2
                +font-huge
                img
                    display: inline-block
                    vertical-align: middle
                    width: 1em
                    margin: 0 0.25em
                    margin-top: -0.15em
            p
                line-height: 175%
        .box-line
            display: block
            width: 65%
            margin: auto
        .box-swiper
            position: relative
            margin: 0.5rem 0
            .swiper
                width: 85%
                margin: auto
            .swiper-slide
                width: 100%
            .swiper-button-prev,
            .swiper-button-next
                width: 2rem
                &::after
                    display: none
            .swiper-button-prev
                left: 0
            .swiper-button-next
                right: 0
        .box-flex
            width: 85%
            margin: 1rem auto
            article
                h3
                    +font-large
                p
                    margin-top: 1rem
            div
                margin-top: 1.5rem
                p
                    +font-small
                    letter-spacing: 0
                    margin: 1rem 0 1.5rem 0
                    line-height: 175%
            .btn-buy
                display: block
                width: 60%
                margin: auto

.product
    position: relative
    padding: 2.5rem 0
    .product-wrap
        width: 95%
        margin: auto
        text-align: center
        h2
            +font-huge
            img
                display: inline-block
                vertical-align: middle
                width: 1em
                margin: 0 0.25em
                margin-top: -0.15em
        .product-line
            display: block
            width: 65%
            margin: 1rem auto
        .product-flex
            > div
                margin: 3rem auto
                > img
                    padding: 0 10%
                article
                    padding: 1rem 5%
                    h4
                        +font-large
                    p
                        margin: 0.5rem 0
                        line-height: 175%
                    a
                        display: block
                        width: 60%
                        margin: auto
                    .product-des
                        display: block
                        width: 35%
                        margin: 0.5rem auto 1rem auto
                    h5
                        text-align: left
                        font-weight: normal
                        +font-small
                        margin: 0.5rem 0
        .product-logo
            margin-top: 1.5rem
            h5
                +font-big
                margin-bottom: 1rem