.for-m {
  display: none !important;
}

[data-scroll-show] {
  transform: translateY(3rem);
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
[data-scroll-show].scrollShowActive {
  opacity: 1;
  transform: translateY(0);
}

body {
  position: relative;
  color: #e6e1cf;
}
body::before {
  position: fixed;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("../img/bg.jpg") no-repeat center center;
  background-size: cover;
}

.kv {
  position: relative;
  width: 100%;
  height: 200vh;
}
.kv .kv-wrap {
  position: sticky;
  top: 0;
  left: 0;
  margin: auto;
  width: 100% !important;
  overflow: hidden;
}
.kv .kv-wrap .kv-scale {
  position: relative;
  left: 50%;
  width: 1680px;
  height: 803px;
  transform-origin: center top;
  overflow: hidden;
}
.kv .kv-wrap .kv-scale > img {
  position: absolute;
}
.kv .kv-wrap .kv-scale .kv-palace,
.kv .kv-wrap .kv-scale .kv-frame {
  top: 0;
  left: 0;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-table {
  width: 50%;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-title {
  width: 30%;
  left: 35%;
  top: 3.4%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-tea-left {
  width: 5%;
  bottom: 11%;
  left: 43%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-tea-right {
  width: 5%;
  bottom: 11%;
  right: 43%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-teapot-left {
  width: 7%;
  bottom: 18%;
  left: 33%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-teapot-right {
  width: 7%;
  bottom: 18%;
  right: 33%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-peacock-left,
.kv .kv-wrap .kv-scale .kv-peacock-left-fade {
  width: 72%;
  top: 34%;
  left: 14%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-peacock-right,
.kv .kv-wrap .kv-scale .kv-peacock-right-fade {
  width: 72%;
  top: 34%;
  right: 14%;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .kv-peacock-left-fade,
.kv .kv-wrap .kv-scale .kv-peacock-right-fade {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .article-1,
.kv .kv-wrap .kv-scale .article-2 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 40%;
  top: 20%;
  text-align: center;
  line-height: 175%;
  opacity: 0;
  transform: translateY(5rem);
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .article-1 h3,
.kv .kv-wrap .kv-scale .article-2 h3 {
  font-size: 1.45rem;
}
.kv .kv-wrap .kv-scale .article-1 .article-title,
.kv .kv-wrap .kv-scale .article-2 .article-title {
  display: block;
  width: 75%;
  margin: auto;
  filter: drop-shadow(0 0 0.25em #000);
}
.kv .kv-wrap .kv-scale .article-1 .word-flex,
.kv .kv-wrap .kv-scale .article-2 .word-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}
.kv .kv-wrap .kv-scale .article-1 .word-flex p img,
.kv .kv-wrap .kv-scale .article-2 .word-flex p img {
  display: inline-block;
  vertical-align: middle;
  width: 1.25em;
  margin: 0 0.25em;
  margin-top: -0.15em;
}
.kv .kv-wrap .kv-scale .article-1 {
  opacity: 1;
  transform: translateY(6rem);
}
.kv .kv-wrap .kv-scale .article-1 .article-title {
  filter: drop-shadow(0 0.25rem 0.5em rgba(0, 0, 0, 0.5));
}
.kv .kv-wrap .kv-scale .article-1 p {
  opacity: 0;
  transition: opacity 1s, transform 1s;
}
.kv .kv-wrap .kv-scale .article-2 {
  top: 12%;
}
.kv .kv-wrap .kv-scale.step-1 .kv-palace,
.kv .kv-wrap .kv-scale.step-1 .kv-title {
  opacity: 0;
  transform: translateY(-50%);
}
.kv .kv-wrap .kv-scale.step-1 .kv-teapot-left {
  transform: translate(50%, 50%);
}
.kv .kv-wrap .kv-scale.step-1 .kv-teapot-right {
  transform: translate(-50%, 50%);
}
.kv .kv-wrap .kv-scale.step-1 .kv-peacock-left,
.kv .kv-wrap .kv-scale.step-1 .kv-peacock-left-fade {
  transform: translate(-5%, 0%);
}
.kv .kv-wrap .kv-scale.step-1 .kv-peacock-right,
.kv .kv-wrap .kv-scale.step-1 .kv-peacock-right-fade {
  transform: translate(5%, 0%);
}
.kv .kv-wrap .kv-scale.step-1 .article-1 {
  opacity: 1;
  transform: translateY(0);
}
.kv .kv-wrap .kv-scale.step-1 .article-1 p {
  opacity: 1;
}
.kv .kv-wrap .kv-scale.step-2 .kv-palace,
.kv .kv-wrap .kv-scale.step-2 .kv-title {
  opacity: 0;
  transform: translateY(-50%);
}
.kv .kv-wrap .kv-scale.step-2 .kv-table,
.kv .kv-wrap .kv-scale.step-2 .kv-tea-left,
.kv .kv-wrap .kv-scale.step-2 .kv-tea-right,
.kv .kv-wrap .kv-scale.step-2 .kv-teapot-left,
.kv .kv-wrap .kv-scale.step-2 .kv-teapot-right,
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-left,
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-right {
  opacity: 0;
}
.kv .kv-wrap .kv-scale.step-2 .kv-table,
.kv .kv-wrap .kv-scale.step-2 .kv-tea-left,
.kv .kv-wrap .kv-scale.step-2 .kv-tea-right,
.kv .kv-wrap .kv-scale.step-2 .kv-teapot-left,
.kv .kv-wrap .kv-scale.step-2 .kv-teapot-right {
  transform: translateY(5rem);
}
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-left-fade,
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-right-fade {
  opacity: 1;
}
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-left,
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-left-fade {
  transform: translate(-15%, -2%) scale(0.8);
}
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-right,
.kv .kv-wrap .kv-scale.step-2 .kv-peacock-right-fade {
  transform: translate(15%, -2%) scale(0.8);
}
.kv .kv-wrap .kv-scale.step-2 .article-1 {
  opacity: 0;
  transform: translateY(-5rem);
}
.kv .kv-wrap .kv-scale.step-2 .article-2 {
  opacity: 1;
  transform: translateY(0);
}

.intro {
  position: relative;
  width: 100%;
  height: 150vh;
}
.intro .intro-sticky {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.intro .intro-sticky .intro-bg {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-mask-image: url("../img/intro-mask.svg");
          mask-image: url("../img/intro-mask.svg");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: 35%;
          mask-size: 35%;
  transition: -webkit-mask-size 1s;
  transition: mask-size 1s;
  transition: mask-size 1s, -webkit-mask-size 1s;
}
.intro .intro-sticky .intro-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: top left;
  transform: scale(0.45) translate(-50%, -50%);
  transition: transform 1.5s;
}
.intro .intro-sticky .intro-frame {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  transform-origin: top left;
  transform: scale(0.7) translate(-50%, -50%);
  transition: transform 1s, opacity 1s;
}
.intro .intro-sticky .img-flower {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12%;
  transition: opacity 1s;
}
.intro .intro-sticky.step-1 .intro-bg {
  -webkit-mask-size: 175%;
          mask-size: 175%;
}
.intro .intro-sticky.step-1 .intro-bg img {
  transform: scale(1.1) translate(-50%, -50%);
  transition: transform 0.5s;
}
.intro .intro-sticky.step-1 .intro-frame {
  opacity: 0;
  transform: scale(3.25) translate(-50%, -50%);
}
.intro .intro-sticky.step-1 .img-flower {
  opacity: 0;
}
.intro .intro-sticky.step-1 .intro-content {
  pointer-events: all;
  opacity: 1;
  transition: opacity 1s 1s;
}
.intro .intro-sticky .intro-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s 0s;
}
.intro .intro-sticky .intro-content .intro-flex {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  width: 1100px;
  gap: 1.5rem;
}
.intro .intro-sticky .intro-content .intro-flex .intro-title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro .intro-sticky .intro-content .intro-flex .intro-title h2 {
  font-size: 2rem;
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.intro .intro-sticky .intro-content .intro-flex .intro-title h2 img {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  margin: 0 0.25em;
  margin-top: -0.15em;
}
.intro .intro-sticky .intro-content .intro-flex .intro-title h2 .img-and {
  display: block;
  margin: 1rem auto;
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
}
.intro .intro-sticky .intro-content .intro-flex .intro-info {
  position: relative;
  width: 65%;
  padding-left: 2rem;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info::before {
  position: absolute;
  display: block;
  content: "";
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #d0b962, #FFF, #d0b962);
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-tab {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-tab a {
  position: relative;
  width: 11em;
  padding: 0.5em 0;
  text-align: center;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-tab a.active::before {
  opacity: 1;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-tab a::before {
  position: absolute;
  display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../img/tab-border.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.35;
  transition: opacity 0.5s;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-info-wrap .intro-info-block > p {
  text-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-info-wrap .intro-info-block .info-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-info-wrap .intro-info-block .info-flex img {
  display: block;
  width: 20%;
  margin-top: 0.5rem;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-info-wrap .intro-info-block .info-flex article {
  flex: 1 0 0;
}
.intro .intro-sticky .intro-content .intro-flex .intro-info .intro-info-wrap .intro-info-block .info-flex article h4 {
  font-size: 1.45rem;
  margin-bottom: 1rem;
}

.design {
  position: relative;
  padding: 3rem 0;
}
.design .design-deco-left-top,
.design .design-deco-right-top {
  position: absolute;
  top: 0;
  width: 300px;
}
.design .design-deco-left-bottom,
.design .design-deco-right-bottom {
  position: absolute;
  bottom: 0;
  width: 300px;
}
.design .design-deco-left-top,
.design .design-deco-left-bottom {
  left: 0;
}
.design .design-deco-right-top,
.design .design-deco-right-bottom {
  right: 0;
}
.design .design-block {
  position: relative;
  width: 1000px;
  margin: auto;
}
.design .design-block .butterfly-left,
.design .design-block .butterfly-right {
  position: absolute;
  width: 2rem;
}
.design .design-block .butterfly-left {
  top: 70%;
  left: -100px;
}
.design .design-block .butterfly-right {
  top: 35%;
  right: -100px;
}
.design .design-block h2 {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  line-height: 125%;
}
.design .design-block p {
  margin-top: 0.5rem;
  text-align: center;
}
.design .design-block .design-flex {
  width: 82%;
  margin: 3rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}
.design .design-block .design-flex div {
  flex: 1 0 0;
}
.design .design-block .design-flex div h3 {
  font-size: 1.45rem;
}
.design .design-block .design-flex div article {
  font-size: 0.8rem;
  padding: 0.5rem;
}
.design .design-block .design-flex .img-and {
  display: block;
  width: 2.5rem;
  margin-top: 8rem;
  filter: drop-shadow(0 0 0.5em rgba(0, 0, 0, 0.5));
}
.design .design-block .design-flex .yt-wrap {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.design .design-block .design-flex .yt-wrap iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.design .design-block .design-line {
  display: block;
  width: 88%;
  margin: auto;
  transform: scale(1, -1);
}

.box {
  position: relative;
}
.box .box-deco-left-top,
.box .box-deco-right-top,
.box .box-deco-left-bottom,
.box .box-deco-right-bottom {
  position: absolute;
  width: 350px;
}
.box .box-deco-left-top,
.box .box-deco-right-top {
  top: 0;
}
.box .box-deco-left-bottom,
.box .box-deco-right-bottom {
  bottom: 0;
}
.box .box-deco-left-top,
.box .box-deco-left-bottom {
  left: 0;
}
.box .box-deco-right-top,
.box .box-deco-right-bottom {
  right: 0;
}
.box .box-deco-right-top {
  transform: scale(-1, 1);
}
.box .box-deco-left-bottom {
  transform: scale(1, -1);
}
.box .box-deco-right-bottom {
  transform: scale(-1, -1);
}
.box .box-wrap {
  width: 1000px;
  margin: auto;
  padding: 5rem 0;
}
.box .box-wrap .box-title {
  width: 45%;
  margin: auto;
  text-align: center;
}
.box .box-wrap .box-title p {
  padding: 1rem 0;
}
.box .box-wrap article {
  text-align: center;
}
.box .box-wrap article h2 {
  font-size: 2rem;
}
.box .box-wrap article h2 img {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  margin: 0 0.25em;
  margin-top: -0.15em;
}
.box .box-wrap article p {
  line-height: 175%;
}
.box .box-wrap .box-line {
  display: block;
  width: 65%;
  margin: auto;
}
.box .box-wrap .box-swiper {
  position: relative;
  margin: 0.5rem 0;
}
.box .box-wrap .box-swiper .swiper {
  width: 88%;
  margin: auto;
}
.box .box-wrap .box-swiper .swiper-slide {
  width: 100%;
}
.box .box-wrap .box-swiper .swiper-button-prev,
.box .box-wrap .box-swiper .swiper-button-next {
  width: 3rem;
}
.box .box-wrap .box-swiper .swiper-button-prev::after,
.box .box-wrap .box-swiper .swiper-button-next::after {
  display: none;
}
.box .box-wrap .box-swiper .swiper-button-prev {
  left: 0;
}
.box .box-wrap .box-swiper .swiper-button-next {
  right: 0;
}
.box .box-wrap .box-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  width: 88%;
  margin: 1rem auto;
}
.box .box-wrap .box-flex article {
  flex: 1 0 0;
  text-align: left;
}
.box .box-wrap .box-flex article h3 {
  font-size: 1.45rem;
}
.box .box-wrap .box-flex article p {
  margin-top: 1rem;
}
.box .box-wrap .box-flex div {
  flex: 1 0 0;
}
.box .box-wrap .box-flex div p {
  font-size: 0.8rem;
  letter-spacing: 0;
  margin: 1rem 0 1.5rem 0;
}
.box .box-wrap .box-flex .btn-buy {
  display: block;
  width: 14rem;
}
.box .box-wrap .design-line {
  display: block;
  width: 80%;
  margin: 3rem auto;
  transform: scale(1, -1);
}

.product {
  position: relative;
  padding: 5rem 0;
}
.product .product-wrap {
  width: 1000px;
  margin: auto;
  text-align: center;
}
.product .product-wrap h2 {
  font-size: 2rem;
}
.product .product-wrap h2 img {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  margin: 0 0.25em;
  margin-top: -0.15em;
}
.product .product-wrap .product-line {
  display: block;
  width: 65%;
  margin: 1rem auto;
}
.product .product-wrap .product-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.product .product-wrap .product-flex > div {
  flex: 1 0 0;
}
.product .product-wrap .product-flex > div article {
  padding: 1rem 15%;
}
.product .product-wrap .product-flex > div article h4 {
  font-size: 1.45rem;
}
.product .product-wrap .product-flex > div article p {
  margin: 0.5rem 0;
  line-height: 175%;
}
.product .product-wrap .product-flex > div article a {
  display: block;
  width: 14rem;
  margin: auto;
}
.product .product-wrap .product-flex > div article .product-des {
  display: block;
  width: 10rem;
  margin: 1rem auto;
}
.product .product-wrap .product-flex > div article h5 {
  text-align: left;
  font-weight: normal;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}/*# sourceMappingURL=index.css.map */